drafting.py
Code/__pycache__/
Code/.spyproject/
dbcredentials.py
src/Eliex/testfolder/
src/Eliex/testfolder/test.txt
src/Eliex/.spyproject/config/workspace.ini
src/Eliex/.spyproject/config/workspace.ini
src/Eliex/__pycache__/hermes.cpython-37.pyc
src/Eliex/__pycache__/mdMaker.cpython-37.pyc
src/Eliex/.spyproject/config/workspace.ini
src/Eliex/.spyproject/config/backups/workspace.ini.bak
*.pyc
